# Node
node_modules/
npm-debug.log
yarn-error.log

# OSX
.DS_Store
Thumbs.db

# Android
*.iml
.gradle
/android/build/
/android/.cxx/
/android/local.properties

# IDE
.idea
.vscode
*.swp
*.swo

# Misc
.env
.env.local

# Build output
# lib/
.yarn